h1{
    border: 3px solid rgb(165, 7, 7);
    border-radius: 15px;
    padding: 10px;
    color: sandybrown;
    background-color: rosybrown;
}
form{
    border: 2px solid rgb(24, 24, 24);
    border-radius: 5px;
    padding: 10px;
}
